<nav class="navbar is-transparent is-danger">
  <div class="container">

    <!--  ****************  -->
    <!--  NAVBAR BRAND START  -->
    <!--  ****************  -->
    <div class="navbar-brand">
      <a class="navbar-item" [routerLink]="['/']">
        <p class="title has-text-white">V-Shop</p>
      </a>

      <div class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <!--  ****************  -->
    <!--  NAVBAR BRAND END  -->
    <!--  ****************  -->

    <!--  ****************  -->
    <!--  NAVBAR MENU START  -->
    <!--  ****************  -->
    <div id="navMenu" class="navbar-menu">

      <!--  ****************  -->
      <!--  NAVBAR-START START  -->
      <!--  ****************  -->
      <div class="navbar-start fullwidth">
        <div class="navbar-item fullwidth">
          <div class="field has-addons has-addons-centered fullwidth">
            <p class="control has-icons-right" style="width: 60%">
              <input class="input is-light" type="text" placeholder="Search...">
              <span class="icon is-small is-right has-text-black">
                <i class="fa fa-lg fa-keyboard-o"></i>
              </span>
            </p>
            <p class="control">
              <a class="button is-light">
                <span class="icon">
                  <i class="fa fa-search"></i>
                </span>
                <span>Search</span>
              </a>
            </p>
          </div>
        </div>
      </div>
      <!--  ****************  -->
      <!--  NAVBAR-START END  -->
      <!--  ****************  -->

      <!--  ****************  -->
      <!--  NAVBAR-END START  -->
      <!--  ****************  -->
      <div class="navbar-end">
        <div class="navbar-item is-desktop is-widescreen is-hidden-mobile is-hidden-tablet-only">
          <div class="field is-grouped">

            <div class="control">
              <div class="navbar-item has-dropdown is-hoverable">

                <a class="button is-white is-outlined">
                  <span class="icon">
                    <i class="fa fa-user"></i>
                  </span>
                  <span>Sign In</span>
                </a>

                <div class="navbar-dropdown is-boxed is-centered" style="margin-top: 10px; margin-left: -70%">
                  <div class="navbar-item">
                    <a class="button is-warning is-fullwidth has-text-weight-bold">Sign In</a>
                  </div>
                  <div class="navbar-item ">
                    <a class="button is-warning is-fullwidth has-text-weight-bold">Create an account</a>
                  </div>

                  <hr class="navbar-divider">

                  <div class="navbar-item">
                    <a class="button is-link is-fullwidth" style="background-color: #3C5998">
                      <span class="icon">
                        <i class="fa fa-facebook"></i>
                      </span>
                      <span>Sign in with Facebook</span>
                    </a>
                  </div>
                  <div class="navbar-item">
                    <a class="button is-danger is-fullwidth" style="background-color: #DF4A33">
                      <span class="icon">
                        <i class="fa fa-google-plus"></i>
                      </span>
                      <span>Sign in with Google</span>
                    </a>
                  </div>
                  <div class="navbar-item">
                    <a class="button is-link is-fullwidth" style="background-color: #108EDD">
                      <span class="icon has-icons-left">
                        <i class="fa fa-twitter"></i>
                      </span>
                      <span>Sign in with Twitter</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <p class="control">
              <a class="button is-white is-outlined">
                <span class="icon">
                  <i class="fa fa-shopping-cart"></i>
                </span>
                <span>Cart</span>
                <span class="cart-count">0</span>
              </a>
            </p>

          </div>
        </div>

        <div class="navbar-item is-hidden-desktop">

          <div class="navbar-item has-text-centered">
            <a class="button is-danger is-outlined">
              <span class="icon">
                <i class="fa fa-shopping-cart"></i>
              </span>
              <span>Cart</span>
              <span class="cart-count">0</span>
            </a>
          </div>

          <div class="navbar-item">
            <a class="button is-warning is-fullwidth has-text-weight-bold">Sign In</a>
          </div>
          <div class="navbar-item ">
            <a class="button is-warning is-fullwidth has-text-weight-bold">Create an account</a>
          </div>

          <hr class="dropdown-divider">

          <div class="navbar-item">
            <a class="button is-link is-fullwidth" style="background-color: #3C5998">
              <span class="icon">
                <i class="fa fa-facebook"></i>
              </span>
              <span>Sign in with Facebook</span>
            </a>
          </div>
          <div class="navbar-item">
            <a class="button is-danger is-fullwidth" style="background-color: #DF4A33">
              <span class="icon">
                <i class="fa fa-google-plus"></i>
              </span>
              <span>Sign in with Google</span>
            </a>
          </div>
          <div class="navbar-item">
            <a class="button is-link is-fullwidth" style="background-color: #108EDD">
              <span class="icon has-icons-left">
                <i class="fa fa-twitter"></i>
              </span>
              <span>Sign in with Twitter</span>
            </a>
          </div>

        </div>
      </div>
      <!--  ****************  -->
      <!--  NAVBAR-END END  -->
      <!--  ****************  -->

    </div>
    <!--  ****************  -->
    <!--  NAVBAR MENU END  -->
    <!--  ****************  -->

  </div>
</nav>
