.cart-count {
  color: #4a4a4a;
  background: #fdd835;
  height: 20px;
  border-radius: 2px;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  margin-left: 9px;
  font-size: 12px;
  padding: 0 6px;
  font-weight: 700;
}

.fullwidth {
  width: 100%;
}

.navbar-menu {
  @media screen and (max-width: 1023px) {
    background-color: #ffffff !important;
  }
}
