.card {
  margin-top: 60px;
}

.card-header-title {
  font-size: 23px;
}

.field {
  margin-bottom: 15px;
}

.selectDate {
  margin-bottom: 30px;
}

.columns {
  width: 100%;

  .select {
    width: 100%;

    select {
      width: 100%;
    }
  }
}

.field-ct {
  margin-right: 23px;
}

.is-divider-vertical::before {
  border-left: 0;
}
