<div class="card">
  <div class="card-header">
    <p class="card-header-title">Tạo tài khoản khách hàng mới</p>
  </div>

  <div class="card-content">
    <div class="columns is-vcentered">

      <div class="column">
        <div class="field is-horizontal">
          <div class="field-label is-small">
            <label class="label">Giới tính</label>
          </div>
          <div class="field-body">
            <div class="field">
              <input class="is-radio is-small is-info" id="male" type="radio" name="genderRadio" checked="checked">
              <label for="male">Nam</label>
              <input class="is-radio is-small is-danger" id="female" name="genderRadio" type="radio">
              <label for="female">Nữ</label>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-small">
            <label class="label">Email</label>
          </div>
          <div class="field-body field-ct">
            <div class="field">
              <p class="control is-expanded has-icons-left has-icons-right">
                <input class="input is-small" type="email">
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </p>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-small">
            <label class="label">Họ tên</label>
          </div>
          <div class="field-body field-ct">
            <div class="field">
              <p class="control is-expanded has-icons-left has-icons-right">
                <input class="input is-small" type="text">
                <span class="icon is-small is-left">
                  <i class="fa fa-user"></i>
                </span>
              </p>
            </div>
          </div>
        </div>

        <div class="field is-horizontal selectDate">
          <div class="field-label is-small">
            <label class="label">Ngày sinh</label>
          </div>
          <div class="field-body">
            <div class="columns">
              <div class="column is-one-third">
                <div class="select is-small">
                  <select>
                    <option>Ngày</option>
                  </select>
                </div>
              </div>
              <div class="column">
                <div class="select is-small">
                  <select>
                    <option>Tháng</option>
                  </select>
                </div>
              </div>
              <div class="column">
                <div class="select is-small">
                  <select>
                    <option>Năm</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-small">
            <label class="label">Mật khẩu</label>
          </div>
          <div class="field-body field-ct">
            <div class="field">
              <p class="control is-expanded has-icons-left has-icons-right">
                <input class="input is-small" type="password">
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </p>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-small">
            <label class="label">Nhập lại mật khẩu</label>
          </div>
          <div class="field-body field-ct">
            <div class="field">
              <p class="control is-expanded has-icons-left has-icons-right">
                <input class="input is-small" type="password">
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </p>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label">
            <!-- Left empty for spacing -->
          </div>
          <div class="field-body">
            <div class="field">
              <input class="is-checkbox is-small has-background-color is-warning" id="checkConfirm" type="checkbox" name="checkboxConfirm">
              <label for="checkConfirm">Tôi đã đọc và đồng ý với chính sách của V-Shop</label>
              <div class="control" style="margin-top: 5px">
                <button class="button is-primary is-small" style="background-color: #009688; font-size: 15px">
                  Tạo tài khoản
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="is-divider-vertical" data-content="OR"></div>

      <div class="column is-one-quarter">
        <div class="field">
          <p class="control">
            <a class="button is-link" style="background-color: #3C5998; width: 80%;">
              <span class="icon is-small">
                <i class="fa fa-facebook"></i>
              </span>
              <span>Đăng nhập bằng Facebook</span>
            </a>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <a class="button is-link" style="background-color: #DF4A33; width: 80%;">
              <span class="icon is-small">
                <i class="fa fa-google-plus"></i>
              </span>
              <span>Đăng nhập bằng Google</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
