.top-header {
  height: 25px;
  background-color: #102530;

  marquee {
    color: #f37037;
    font-style: italic;
  }
}

.navbar,
.hero {
  background-color: #183545;
}

.navbar {
  height: 75px;
  border-bottom: 1px solid #0e1f28;
}

.tabs {
  height: 40px;

  a {
    border-bottom: 0;
    margin-bottom: 1px;
    padding: 11px 0;
  }
}

.tab-item {
  a {
    font-weight: 500;

    &:hover,
    &:focus {
      background-color: #ffffff;
      color: #000000;
      border-block-end: 8px solid #f37037;
    }
  }
}
