<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        Made with ♥ by
        <a href="https://fb.com/vuongvu333" target="_blank">Vuong Vu</a>
      </p>
      <p>
        <a class="icon" style="color: #3B5998" href="https://fb.com/vuongvu333" target="_blank">
          <i class="fa fa-facebook-official"></i>
        </a>
        <a class="icon" style="color: #0077B5" href="https://www.linkedin.com/in/v%C6%B0%C6%A1ng-v%C5%A9-nguy%E1%BB%85n-855b15ab/"
          target="_blank">
          <i class="fa fa-linkedin-square"></i>
        </a>
        <a class="icon" style="color: #24292E" href="https://github.com/VuongVu" target="_blank">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
